.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #090909;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #e5e5e5;
  color: #090909;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: lightblack;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 95%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.card{
    position: relative;
    width: 250px;
    height: 200px;
    margin: 10px;
    /*Must be pure white for images */
    background-color: #ffffff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 2px 3px 10px lightgrey;
}

.cardDim {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cardOverlay {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    width: inherit;
    height: inherit;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
}

.card:hover .cardOverlay {
    visibility: visible;
    opacity: 1;
}

.cardImg {
    width: inherit;
    height: inherit;
}

#mainbox{
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hint {
    font-size: 11px;
    color: darkgrey;
}

.homeList {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    color: #de1010 !important;
}

.homeList > li {
    margin-bottom: 7px;
}



.navbar {
    background-color: #1E90FF;
    border-radius: 0;
    border: none;
    box-shadow: 1px 1px 20px grey;
}

.navbar-default .navbar-nav > li > a {
    color: #f2f2f2;
}

.navbar-default .navbar-brand {
    color: #f2f2f2;
    font-family: 'Dynalight', cursive;
    font-size: 30px;
    font-weight: 400;
}

.navbar-default:hover .navbar-brand:hover{
    color: #d2d2d2 !important;
}

.navbar-brand:focus{
    color: #d2d2d2 !important;
}

.navRight {
    float: right;
}

.navItem:focus {
    color: #d2d2d2 !important;
}

.navbar-default .navbar-nav > .active > a {
    background-color: inherit;
    border-bottom: 2px solid #bbddff;
    color: #f2f2f2;
}

.navbar-default > a:focus {
    color: #d2d2d2 !important;
}

.navbar-default .navbar-nav > .active:hover {
    background-color: inherit;
    color: #d2d2d2 !important;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #d2d2d2;
}

.navbar-default .navbar-nav > li > a{
    background-color: inherit;
    color: #f2f2f2;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: inherit;
    color: #d2d2d2;
}

.navbar-default .navbar-nav > .active > a:enabled {
    background-color: transparent;
    color: #f2f2f2;
}

.btn {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  color: #f2f2f2;
  font-size: 20px;
  background: #3d944a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3dba4e;
  text-decoration: none;
}

.btn.addCart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cartCount {
    float: right;
}

.cartIcon {
    margin-right: 5px;
    width: 30px;
    vertical-align: middle;
}

.checkoutCard {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  min-width: 400px;
  width: 70%;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 7px lightgrey;
}

.divider {
  border-bottom: 1px solid grey;
  width:100%;
}


/* Ng toast animations from animate.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}











/******************
    Aaron's Additional Styles
******************/

.toastAnimate {

  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.alert-success {
    border-color: #ffffff !important;
    background-color: #ffffff !important;
    color: #090909 !important;
}

.toastAnimate.ng-leave {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}


/******************
    Boostrap Overrides
******************/

@media (min-width: 768px) {
  .container {
    width: 95% !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 95% !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 95% !important;
  }
}
