<div ng-if="orderItems.length > 0;" class="checkoutCard">

  <div><h3>Your order summary</h3></div>
  <br />
  <div class="divider"></div>
  <br /><br />

  <table border="0" style="border-collapse:collapse;border:0px solid #FFCC00;color:#000000;width:100%;" cellpadding="3" cellspacing="3">
  	<tr ng-repeat="product in orderItems" ng-if="product.item">
  		<td>{{product.item.name}}</td>
  		<td>${{(product.item.price/100).toFixed(2)}}</td>
  	</tr>
  </table>

  <br /><br />
  <div class="divider"></div>
  <br /><br />
  <div style="text-align:right;">
    <div>Total: ${{(total/100).toFixed(2)}}</div>
    <br />

  </div>

</div>

<!-- Order Empty, Wrong Page -->

<div class="center" ng-if="orderItems.length == 0;">
  <br /><br />
  You seem to have reached this page in error. Please go back to the <a href="#/">store</a> to add items.

</div>
